*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42rem;
}
.container{
    background-color: white;
    border-radius:30px ;
    outline: none;
    transition: all 0.4s ease-in-out ;
    width: 392.85px;
    height: 347.55px;
}
.container:hover{
    transform: scale(1.1);
}
img{
    height: 160px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-bottom:1px solid black ;
    padding: 14px 0px;
}
.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}.card-body-title{
    font-size:1.5rem;
    padding-top: 24px;
}
.card-body-text{
    color: rgb(0 0 0 / 47%);
}
.card-footer-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 14px;
}
.card-footer-social h3{
    font-size: 1rem;
}
.card-footer-social p{
    color: rgb(0 0 0 / 47%);
}